<%- layout("layouts/boilerplate") %>
<body>
    <h2 class="mt-3 mb-3">This is contributions page</h2>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
        <% for(let dataset of userContributions){ %>
        <div class="col">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between">
                        <span>Test Details</span>
                        <div class="d-inline-flex gap-1">
                          <i class="fas fa-angle-down cursor-pointer" data-bs-toggle="collapse" data-bs-target="#collapse<%= dataset._id %>" aria-expanded="false" aria-controls="collapse<%= dataset._id %>"></i>
                        </div>
                    </h5>
                    <p class=" date mb-2 "> Submitted At: <%= dataset.createdAt %></p>
                    <div class="collapse" id="collapse<%= dataset._id %>">
                        <div class="card card-body">
                            Color : <%=dataset.color%> <br>
                            Taste : <%=dataset.taste%> <br>
                            Ph Value : <%-dataset.phValue%> <br>
                            Density : <%=dataset.density%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</body>

